@media screen and (max-width:640px) {
	*{
		width: 100%;
		padding: 0;
		margin: 0;
	}
	img{width: 100%;}
	a{width: 90%;}
}
@media screen and (max-width:414px) {
	.wh80 {width: 80%;}
	.wh50 {width: 50%;}
}